html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 100px; /* bottom = footer height */
    padding: 25px;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    overflow:hidden;
}


@font-face {
    font-family:"Urania Czech";
    src: url("https://github.com/j-sokol/j-sokol.github.io/raw/master/urania_cz.ttf") 
}

h3 {
    font-family:'Urania Czech', sans-serif;
    font-size: 26px;
    font-weight:normal;
    text-align: left;
    line-height: 100%;
    padding-bottom: 5px;
    margin-bottom:7px;
}

h4 {
    text-align: right;
    font-family:Tahoma, Geneva, sans-serif;
    margin-right: 2cm;
}

p  {
    font-family:Tahoma, Geneva, sans-serif;
    margin-right: 2cm;
}

